@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply border px-4 py-2 cursor-pointer rounded-full hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-75 ease-out
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}